---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: "readarr-readarr-config-snapshot"
spec:
  schedule: "@daily"
  suspend: false
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 2
  jobTemplate:
    spec:
      # Keep at least one job in completed state in accordance to the schedule
      ttlSecondsAfterFinished: 86400
      template:
        spec:
          automountServiceAccountToken: false
          restartPolicy: OnFailure
          containers:
            - name: snapshot
              image: docker.io/kopia/kopia:20250303.0.65952@sha256:554747bda86ea692850f75be839eac3b1608af3812ede9fae0a6dbb5f2aa6985
              env:
                - name: KOPIA_CACHE_DIRECTORY
                  value: /snapshots/default/readarr/readarr-config/cache
                - name: KOPIA_LOG_DIR
                  value: /snapshots/default/readarr/readarr-config/logs
                - name: KOPIA_PASSWORD
                  value: "none"
              command:
                - /bin/bash
                - -c
                - |-
                  printf "\e[1;32m%-6s\e[m\n" "[01/10] Create repo ..."              && [[ ! -f /snapshots/kopia.repository.f ]] && kopia repository create filesystem --path=/snapshots
                  printf "\e[1;32m%-6s\e[m\n" "[02/10] Connect to repo ..."          && kopia repo connect filesystem --path=/snapshots --override-hostname=cluster --override-username=root
                  printf "\e[1;32m%-6s\e[m\n" "[03/10] Set policies ..."             && kopia policy set /data/default/readarr/readarr-config --compression=zstd --keep-latest 14 --keep-hourly 0 --keep-daily 7 --keep-weekly 2 --keep-monthly 0 --keep-annual 0
                  printf "\e[1;32m%-6s\e[m\n" "[04/10] Freeze readarr-config ..."   && fsfreeze -f /data/default/readarr/readarr-config
                  printf "\e[1;32m%-6s\e[m\n" "[05/10] Snapshot readarr-config ..." && kopia snap create /data/default/readarr/readarr-config
                  printf "\e[1;32m%-6s\e[m\n" "[06/10] Unfreeze readarr-config ..." && fsfreeze -u /data/default/readarr/readarr-config
                  printf "\e[1;32m%-6s\e[m\n" "[07/10] List snapshots ..."           && kopia snap list /data/default/readarr/readarr-config
                  printf "\e[1;32m%-6s\e[m\n" "[08/10] Show stats ..."               && kopia content stats
                  printf "\e[1;32m%-6s\e[m\n" "[09/10] Show maintenance info ..."    && kopia maintenance info
                  printf "\e[1;32m%-6s\e[m\n" "[10/10] Disconnect from repo ..."     && kopia repo disconnect
              volumeMounts:
                - name: data
                  mountPath: "/data/default/readarr/readarr-config"
                - name: snapshots
                  mountPath: /snapshots
              securityContext:
                privileged: true
          volumes:
            - name: data
              persistentVolumeClaim:
                claimName: "readarr-config"
            - name: snapshots
              nfs:
                server: "${SECRET_NAS_ADDRESS}"
                path: /volume1/media/k8s-data/kopia-snapshots
          affinity:
            podAffinity:
              requiredDuringSchedulingIgnoredDuringExecution:
                - topologyKey: kubernetes.io/hostname
                  labelSelector:
                    matchExpressions:
                      - key: app.kubernetes.io/name
                        operator: "In"
                        values:
                          - readarr
                      - key: app.kubernetes.io/instance
                        operator: "In"
                        values:
                          - readarr
