---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex-auto-languages
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controllers:
      plex-auto-languages:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: remirigal/plex-auto-languages
              tag: v1.2.3
            env:
              TZ: ${TIMEZONE}
              PLEX_URL: "http://plex.default.svc.cluster.local:32400"
            envFrom:
              - secretRef:
                  name: plex
            resources:
              requests:
                cpu: 75m
                memory: 300M
              limits:
                memory: 600M
