---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: babybuddy
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: babybuddy-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        ADMIN_USERNAME: "{{ .ADMIN_USERNAME }}"
        ADMIN_PASSWORD: "{{ .ADMIN_PASSWORD }}"
        DB_HOST: postgres-rw.database.svc.cluster.local
        DB_NAME: babybuddy
        DB_PASSWORD: "{{ .POSTGRES_PASS }}"
        DB_USER: "{{ .POSTGRES_USER }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: babybuddy
        INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .INIT_POSTGRES_SUPER_PASS }}"
  data:
    - secretKey: ADMIN_USERNAME
      remoteRef:
        key: babybuddy
        property: username
    - secretKey: ADMIN_PASSWORD
      remoteRef:
        key: babybuddy
        property: password
    - secretKey: INIT_POSTGRES_SUPER_PASS
      remoteRef:
        key: cloudnative-pg
        property: POSTGRES_SUPER_PASS
  dataFrom:
    - extract:
        key: babybuddy
