---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: frigate
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://blakeblackshear.github.io/blakeshome-charts/
      chart: frigate
      version: 7.0.1
      sourceRef:
        kind: HelmRepository
        name: blakeshome
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      repository: docker.io/blakeblackshear/frigate
      tag: 0.11.1
    podAnnotations:
      configmap.reloader.stakater.com/reload: "frigate"
    env:
      TZ: ${TIMEZONE}
    envFromSecrets:
      - frigate-secret
    coral:
      enabled: true
    config: |
      mqtt:
        host: emqx.home.svc.cluster.local
        topic_prefix: frigate
      detectors:
        coral:
          type: edgetpu
          device: usb
      database:
        path: /data/frigate.db
      objects:
        track:
          - person
          - dog
        filters:
          person:
            min_area: 5000
            max_area: 100000
            threshold: 0.7
            mask: 99,568,1235,720,1280,335,380,348
      record:
        enabled: true
        retain_days: 4
        events:
          retain:
            default: 10
          objects:
            - person
            - dog
      cameras:
        doorbell:
          ffmpeg:
            inputs:
              - path: rtsp://{FRIGATE_RSTP_USERNAME}:{FRIGATE_RTSP_PASSWORD}@{FRIGATE_FRONTDOOR_CAMERA}/live0
                roles:
                  - detect
                  - record
                  - rtmp
          zones:
            front_zone:
              coordinates: 89,552,1203,685,1280,324,383,344
          mqtt:
            enabled: True
            timestamp: True
            bounding_box: True
            crop: False
    persistence:
      data:
        enabled: true
    probes:
      startup:
        enabled: true
    extraVolumes:
      - name: media
        persistentVolumeClaim:
          claimName: frigate-config
    extraVolumeMounts:
      - mountPath: /media
        name: media
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "nginx"
        hajimari.io/enable: "true"
        hajimari.io/appName: "Frigate"
        hajimari.io/icon: cctv
        nginx.ingress.kubernetes.io/whitelist-source-range: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
      hosts:
        - host: "frigate.${SECRET_DOMAIN}"
          paths:
            - "/"
      tls:
        - hosts:
            - "frigate.${SECRET_DOMAIN}"
    resources:
      limits:
        memory: 2500Mi
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - { key: "feature.node.kubernetes.io/custom-coral-tpu", operator: In, values: ["true"] }
