---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: bazarr
  namespace: default
spec:
  releaseName: bazarr
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.2
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
            supplementalGroups:
              - 100
        containers:
          subcleaner:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.4.0
              pullPolicy: IfNotPresent
            args:
              - --repo=https://github.com/KBlixt/subcleaner.git
              - --branch=master
              - --wait=86400 # 1 day
              - --root=/add-ons/
          app:
            image:
              repository: ghcr.io/onedr0p/bazarr
              tag: 1.5.1@sha256:b8fa3c3c2a5b7fe045e8f8eb95feac3c50b37837478ecc11d49db8fa8ddff683
            env:
              TZ: "${TIMEZONE}"
            resources:
              requests:
                cpu: 50m
                memory: 250Mi
              limits:
                memory: 4Gi
    service:
      app:
        controller: app
        ports:
          http:
            port: 6767

    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Ingress
          gethomepage.dev/icon: bazarr.png
        hosts:
          - host: "bazarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - "bazarr.${SECRET_DOMAIN}"

    persistence:
      config:
        enabled: true
        existingClaim: bazarr-config
        globalMounts:
          - path: /config
      media:
        type: custom
        volumeSpec:
          nfs:
            server: ${SECRET_NAS_ADDRESS}
            path: "/volume1/media"
        enabled: true
        globalMounts:
          - path: /nfs-nas-pvc
      add-ons:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /add-ons
      scripts:
        enabled: true
        type: configMap
        name: bazarr-scripts # overriden by kustomizeconfig
        defaultMode: 0775
