---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: code-server
  namespace: home
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: code-server
    creationPolicy: Owner
  data:
    - secretKey: id_rsa
      remoteRef:
        key: code-server
        property: 'private key'
