---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: influxdata
spec:
  interval: 2h
  url: https://helm.influxdata.com/
  timeout: 3m
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app influxdb
spec:
  interval: 30m
  chart:
    spec:
      chart: influxdb2
      version: 2.1.2
      sourceRef:
        kind: HelmRepository
        name: influxdata
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    image:
      repository: docker.io/library/influxdb
      tag: 2.7.12
      pullPolicy: IfNotPresent
    adminUser:
      create: true
      organization: homelab
      bucket: scrutiny
      user: "admin"
      retention_policy: "0s"
      existingSecret: influxdb-secret
    pdb:
      create: false
    env:
      - name: TZ
        value: "${TIMEZONE}"
    ingress:
      enabled: true
      className: internal
      path: /
      hostname: influxdb.${SECRET_DOMAIN}
      tls: true
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: Ingress
        gethomepage.dev/icon: si-influxdb

    service:
      type: LoadBalancer
      annotations:
        lbipam.cilium.io/ips: "${SVC_INFLUXDB_ADDR}"

    persistence:
      enabled: true
      useExisting: true
      name: influxdb-config

    resources:
      requests:
        cpu: 30m
        memory: 500M
