---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app vector-aggregator
  namespace: monitoring
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          01-init-geoip:
            image:
              repository: ghcr.io/maxmind/geoipupdate
              tag: v6.0
              pullPolicy: IfNotPresent
            env:
              - name: GEOIPUPDATE_EDITION_IDS
                value: GeoLite2-City
              - name: GEOIPUPDATE_FREQUENCY
                value: "0"
              - name: GEOIPUPDATE_VERBOSE
                value: "true"
            envFrom:
              - secretRef:
                  name: vector-aggregator-secret
            volumeMounts:
              - { name: geoip, mountPath: /usr/share/GeoIP }

        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/vector
              tag: 0.34.1-debian@sha256:329ceb648d40a26fca9f72c851e9abbacef74cc50b7956d9cf7eb1929d57f35c
            args: ["--config", "/etc/vector/vector.yaml"]

    service:
      main:
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_VECTOR_ADDR}
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8686
          journald:
            enabled: true
            port: 6000
          kubernetes:
            enabled: true
            port: 6010
          opnsense:
            enabled: true
            port: 6020
          unifi:
            enabled: true
            port: 6030
    persistence:
      config:
        enabled: true
        type: configMap
        name: vector-aggregator-configmap
        globalMounts:
          - path: /etc/vector/vector.yaml
            subPath: vector.yaml
            readOnly: true
      data:
        type: emptyDir
        globalMounts:
          - path: /vector-data-dir
      geoip:
        type: emptyDir
        globalMounts:
          - path: /usr/share/GeoIP
