---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app tautulli
  namespace: media
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.3.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: "OnRootMismatch"
        containers:
          jbops:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.1.0
            resources:
              requests:
                cpu: 11m
                memory: 37M
              limits:
                memory: 100M
            args:
              - --repo=https://github.com/blacktwin/JBOPS
              - --ref=master
              - --period=24h
              - --root=/add-ons
            volumeMounts:
              - { name: add-ons, mountPath: /add-ons }
          main:
            image:
              repository: ghcr.io/onedr0p/tautulli
              tag: 2.13.4@sha256:7682cdcf98dbdd236a21d1a7b7b380928dbd67283dce9a76398a7c1461b0f802
            env:
              TZ: "${TIMEZONE}"
            resources:
              requests:
                cpu: 11m
                memory: 110M
              limits:
                memory: 250Mi
    service:
      main:
        ports:
          http:
            port: 8181
    ingress:
      main:
        enabled: true
        className: "nginx"
        annotations:
          hajimari.io/appName: "Tautulli"
          hajimari.io/icon: "chart-bar"
          hajimari.io/enable: "true"
          nginx.ingress.kubernetes.io/whitelist-source-range: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.dev/css/base/tautulli/nord.css"></head>';
            sub_filter_once on;
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: tautulli-config
      add-ons:
        enabled: true
        type: emptyDir
