---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: peanut
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: peanut-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        INFLUX_TOKEN: "{{.INFLUXDB_ADMIN_TOKEN}}"
  dataFrom:
    - extract:
        key: influxdb
