apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml

configMapGenerator:
  - name: nut-exporter-dashboard
    files:
      - ./dashboard/nut-exporter-dashboard.json
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
    reloader.stakater.com/match: "true"
  labels:
    grafana_dashboard: "true"
