---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mealie
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: ghcr.io/mealie-recipes/mealie
              tag: v1.0.0-RC1.1
            env:
              TZ: "${TIMEZONE}"
              ALLOW_SIGNUP: "false"
              DB_ENGINE: sqlite
              POSTGRES_USER: mealie
              POSTGRES_SERVER: postgres-rw.database
              POSTGRES_PORT: 5431
              POSTGRES_DB: mealie
              BASE_URL: https://mealie.${SECRET_DOMAIN}
            envFrom:
              - secretRef:
                  name: mealie

    persistence:
      data:
        enabled: true
        existingClaim: mealie-config
        globalMounts:
          - path: /app/data/

    service:
      main:
        ports:
          http:
            port: 9000

    ingress:
      main:
        enabled: true
        className: "nginx"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Ingress
          gethomepage.dev/icon: mealie.png
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN}
          hajimari.io/enable: "true"
          hajimari.io/icon: food
          hajimari.io/appName: "Mealie"
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/auth-url: http://authelia.default.svc.cluster.local/api/verify
          nginx.ingress.kubernetes.io/auth-signin: https://auth.${SECRET_DOMAIN}?rm=$request_method
          nginx.ingress.kubernetes.io/auth-response-headers: |-
            Remote-User,Remote-Name,Remote-Groups,Remote-Email
          nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Method $request_method;
        hosts:
          - host: "mealie.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - "mealie.${SECRET_DOMAIN}"
