---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: external-dns
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: external-dns
    creationPolicy: Owner
  data:
    - secretKey: email
      remoteRef:
        key: cloudflare
        property: email
    - secretKey: api-key
      remoteRef:
        key: cloudflare
        property: api_key
