---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: downloads
resources:
  - ./config-pvc.yaml
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./volsync.yaml
configMapGenerator:
  - name: notify-script
    files:
      - notify.sh=./config/notify.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
