---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./config-pvc.yaml
  - ./helmrelease.yaml
  - ./volsync.yaml
configMapGenerator:
  - name: bazarr-scripts
    files:
      - post-process.sh=./scripts/post-process.sh
configurations:
  - ./patches/kustomizeconfig.yaml
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
