---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: switchbotmqtt
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: switchbotmqtt
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        options.json: |
          {
            "LogLevel": "Debug",
            "AutoStartServices": true,
            "DeviceStatePersistence", true,
            "Mqtt": {
              "AutoConfig": false,
              "Host": "emqx-listeners.default.svc.cluster.local",
              "Port": 1883,
              "Id": "{{ .X_EMQX_MQTT_USERNAME }}",
              "Pw": "{{ .X_EMQX_MQTT_PASSWORD }}",
              "Tls": false
            },
            "SwitchBot": {
              "ApiBaseUrl": "https://api.switch-bot.com/v1.1/",
              "ApiKey": "{{ .API_KEY }}",
              "ApiSecret": "{{ .API_SECRET }}"
            },
            "MessageRetain": {
              "Entity": true,
              "State": true,
            }
          }
  dataFrom:
    - extract:
        key: emqx
    - extract:
        key: switchbot
