---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr-restic
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: radarr-restic-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        RESTIC_REPOSITORY: '{{ .REPOSITORY_TEMPLATE }}/radarr'
        RESTIC_PASSWORD: '{{ .RESTIC_PASSWORD }}'
        AWS_ACCESS_KEY_ID: '{{ .access_key }}'
        AWS_SECRET_ACCESS_KEY: '{{ .secret_key }}'
  dataFrom:
    - extract:
        key: minio
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: radarr
  namespace: default
spec:
  sourcePVC: radarr-config
  trigger:
    schedule: "@daily"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 5
    repository: radarr-restic-secret
    cacheCapacity: 5Gi
    volumeSnapshotClassName: csi-ceph-blockpool
    storageClassName: ceph-block
    moverSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
    retain:
      daily: 5
      within: 3d
