---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex
  namespace: default
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: plex
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        PLEX_CLAIM: "{{.claim}}"
        PLEX_TOKEN: "{{.token}}"
  dataFrom:
    - extract:
        key: plex
