---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-config
  namespace: default
  labels:
    app.kubernetes.io/instance: &name mariadb
    app.kubernetes.io/name: *name
    snapshot.home.arpa/enabled: "true"
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 10Gi
