---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kopia
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        pod:
          securityContext:
            supplementalGroups:
              - 100
          annotations:
            configmap.reloader.stakater.com/reload: *app
        initContainers:
          wait-for-repo:
            image:
              repository: docker.io/kopia/kopia
              tag: 20250415.0.224913@sha256:ba88c8194349662f4a3408ee2b1d7f261871fa301e17d976d23dbca586077786
            command:
              - /bin/bash
              - -c
              - |-
                until [ -f /snapshots/kopia.repository.f ]; do
                    printf "\e[1;32m%-6s\e[m\n" "Waiting for the Kopia repo to become ready ..."
                    sleep 1
                done
        containers:
          app:
            image:
              repository: docker.io/kopia/kopia
              tag: 20250415.0.224913@sha256:ba88c8194349662f4a3408ee2b1d7f261871fa301e17d976d23dbca586077786
            env:
              TZ: "${TIMEZONE}"
              KOPIA_PASSWORD: "none"
            command: kopia
            args:
              - server
              - start
              - --disable-csrf-token-checks
              - --insecure
              - --address
              - 0.0.0.0:80
              - --metrics-listen-addr
              - 0.0.0.0:8080
              - --without-password
              - --log-level
              - debug
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 500Mi
    service:
      app:
        controller: app
        ports:
          http:
            port: 80
          metrics:
            enabled: true
            port: 8080

    serviceMonitor:
      app:
        enabled: true
        serviceName: app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Ingress
          gethomepage.dev/icon: kopia.png
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        globalMounts:
          - path: /app/config/repository.config
            subPath: repository.config
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/logs
      snapshots:
        type: nfs
        server: ${SECRET_NAS_ADDRESS}
        path: "/volume1/media/k8s-data/kopia-snapshots"
        globalMounts:
          - path: /snapshots
