---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app kopia
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        pod:
          securityContext:
            supplementalGroups:
              - 100
          annotations:
            configmap.reloader.stakater.com/reload: *app
        initContainers:
          wait-for-repo:
            image:
              repository: ghcr.io/onedr0p/kopia
              tag: 0.13.0@sha256:ee6608635237c9ddf3ec5b456122cb60f0195c5cad84b06e945498f2338bff59
            command:
              - /bin/bash
              - -c
              - |-
                until [ -f /snapshots/kopia.repository.f ]; do
                    printf "\e[1;32m%-6s\e[m\n" "Waiting for the Kopia repo to become ready ..."
                    sleep 1
                done
            volumeMounts:
              - name: snapshots
                mountPath: /snapshots
        containers:
          main:
            image:
              repository: ghcr.io/onedr0p/kopia
              tag: 0.13.0@sha256:ee6608635237c9ddf3ec5b456122cb60f0195c5cad84b06e945498f2338bff59
            env:
              TZ: "${TIMEZONE}"
              KOPIA_PASSWORD: "none"
            command: kopia
            args:
              - server
              - start
              - --insecure
              - --address
              - 0.0.0.0:80
              - --metrics-listen-addr
              - 0.0.0.0:8080
              - --without-password
              - --log-level
              - debug
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 500Mi
    service:
      main:
        ports:
          http:
            port: 80
          metrics:
            enabled: true
            port: 8080

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    ingress:
      main:
        enabled: true
        className: "nginx"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Ingress
          gethomepage.dev/icon: kopia.png
          hajimari.io/enable: "true"
          hajimari.io/appName: "Kopia"
          hajimari.io/icon: carbon:data-backup
          nginx.ingress.kubernetes.io/whitelist-source-range: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        enabled: true
        type: configMap
        name: *app
        globalMounts:
          - path: /config/repository.config
            subPath: repository.config
            readOnly: true
      snapshots:
        type: nfs
        server: ${SECRET_NAS_ADDRESS}
        path: "/volume1/media/k8s-data/kopia-snapshots"
        globalMounts:
          - path: /snapshots
