---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.6.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          gotenburg:
            image:
              repository: thecodingmachine/gotenberg
              tag: 8.16.0
            env:
              - { name: DISABLE_GOOGLE_CHROME, value: "1" }
          tika:
            image:
              repository: ghcr.io/paperless-ngx/tika
              tag: 2.9.1-full
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.14.7
            env:
              COMPOSE_PROJECT_NAME: paperless
              PAPERLESS_CONSUMER_POLLING: "60"
              PAPERLESS_CONSUMER_RECURSIVE: "true"
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: "true"
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "false"
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_PORT: 8000
              PAPERLESS_REDIS: redis://dragonfly.default.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_URL: "https://paperless.${SECRET_DOMAIN}"
              PAPERLESS_ALLOWED_HOSTS: paperless.${SECRET_DOMAIN}
              PAPERLESS_TRUSTED_PROXIES: 10.42.0.0/16,10.30.10.0/24,10.30.30.0/24
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'
              USERMAP_UID: 1002
              USERMAP_GID: 1002
            envFrom:
              - secretRef:
                  name: paperless-secret
            resources:
              requests:
                cpu: 23m
                memory: 1024M
              limits:
                memory: 2048M
    service:
      app:
        controller: app
        ports:
          http:
            port: 8000

    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Ingress
          gethomepage.dev/icon: paperless-ngx.png
        hosts:
          - host: &host "paperless.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      data:
        type: nfs
        server: ${SECRET_NAS_ADDRESS}
        path: "/volume1/media/k8s-data/paperless/data"
        globalMounts:
          - path: /usr/src/paperless/data
      media:
        enabled: true
        globalMounts:
          - path: /usr/src/paperless/media
        type: nfs
        server: ${SECRET_NAS_ADDRESS}
        path: "/volume1/media/k8s-data/paperless/media"
      consume:
        enabled: true
        globalMounts:
          - path: /usr/src/paperless/consume
        type: nfs
        server: ${SECRET_NAS_ADDRESS}
        path: "/volume1/media/k8s-data/paperless/incoming"
      export:
        enabled: true
        globalMounts:
          - path: /usr/src/paperless/export
        type: nfs
        server: ${SECRET_NAS_ADDRESS}
        path: "/volume1/media/k8s-data/paperless/export"
