---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: room-assistant
  namespace: home
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 15m
  maxHistory: 5
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    replicas: 1
    image:
      repository: mkerix/room-assistant
      pullPolicy: IfNotPresent
      tag: "2.20.0"

    strategy:
      type: Recreate

    securityContext:
      privileged: true
      capabilities:
        add:
          - NET_ADMIN

    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false

    hostNetwork: true

    service:
      main:
        ports:
          http:
            port: 8081
    env:
      CLUSTER_NAME:
        fieldRef:
          apiVersion: v1
          fieldPath: spec.nodeName
      TZ: "America/Chicago"
      NODE_CONFIG: >
        {
          "global": {
            "instanceName": "$(CLUSTER_NAME)",
            "integrations": [
              "homeAssistant",
              "bluetoothClassic"
            ]
          },
          "homeAssistant": {
            "mqttUrl": "mqtt://emqx.home:1883",
            "sendMqttRoom": true
          },
          "bluetoothClassic": {
            "addresses": [
              "c8:2a:dd:85:7e:76"
            ]
          }
        }

    resources:
      limits:
        memory: 520Mi
      requests:
        cpu: 250m
        memory: 250Mi

    tolerations:
      - key: "k3s-arm"
        operator: "Exists"

    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - { key: "feature.node.kubernetes.io/custom-room-assistant", operator: In, values: ["true"] }
