---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: authelia
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      # renovate: registryUrl=https://charts.authelia.com
      chart: authelia
      version: 0.8.57
      sourceRef:
        kind: HelmRepository
        name: authelia
        namespace: flux-system
      interval: 15m
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    domain: ${SECRET_DOMAIN}
    service:
      annotations:
        prometheus.io/probe: "true"
        prometheus.io/protocol: "http"
    ingress:
      enabled: true
      annotations:
        external-dns/is-public: "true"
        external-dns.home.arpa/enabled: "true"
        hajimari.io/enable: "true"
        hajimari.io/appName: "Authelia"
        hajimari.io/icon: shield-account
      subdomain: auth
      tls:
        enabled: true
    pod:
      kind: Deployment
      replicas: 3
      env:
        - name: TZ
          value: ${TIMEZONE}
      extraVolumeMounts:
        - name: config-custom
          mountPath: /config
      extraVolumes:
        - name: config-custom
          secret:
            name: authelia
            items:
              - key: users_database.yml
                path: users_database.yml
      resources:
        requests:
          cpu: 500m
          memory: 1500Mi
        limits: {}
    ##
    ## Authelia Config Map Generator
    ##
    configMap:
      enabled: true
      server:
        read_buffer_size: 8192
        write_buffer_size: 8192
      theme: dark
      authentication_backend:
        disable_reset_password: true
        ldap:
          enabled: false
        file:
          enabled: true
          password:
            algorithm: argon2id
      access_control:
        ## data policy can either be 'bypass', 'one_factor', 'two_factor' or 'deny'. It is the policy applied to any
        ## resource if there is no policy to be applied to the user.
        data_policy: deny
        networks:
          - name: private
            networks:
              - 10.0.0.0/8
              - 172.16.0.0/12
              - 192.168.0.0/16
              - 10.30.0.0/16
          - name: vpn
            networks:
              - 10.10.0.0/16
        rules:
          # bypass Authelia WAN + LAN
          - domain:
              - auth.${SECRET_DOMAIN}
            policy: bypass
          # One factor auth for LAN
          - domain:
              - "*.${SECRET_DOMAIN}"
            policy: one_factor
            subject: ["group:admins", "group:users"]
            networks:
              - private
          # Two factors auth for WAN
          - domain:
              - "*.${SECRET_DOMAIN}"
            subject: ["group:admins", "group:users"]
            policy: two_factor
      identity_providers:
        oidc:
          enabled: true
          cors:
            endpoints: ["authorization", "token", "revocation", "introspection"]
            allowed_origins_from_client_redirect_uris: true
          clients:
            - id: outline
              description: Outline
              secret: "${SECRET_OUTLINE_OAUTH_CLIENT_SECRET}"
              public: false
              authorization_policy: two_factor
              pre_configured_consent_duration: 1y
              scopes: ["openid", "profile", "email", "offline_access"]
              redirect_uris: ["https://docs.${SECRET_DOMAIN}/auth/oidc.callback"]
              userinfo_signing_algorithm: none
      session:
        redis:
          high_availability:
            enabled: true
            sentinel_name: redis-master
            nodes:
              - host: redis-node-0.redis-headless.default.svc.cluster.local
                port: 26379
              - host: redis-node-1.redis-headless.default.svc.cluster.local
                port: 26379
              - host: redis-node-2.redis-headless.default.svc.cluster.local
                port: 26379
      storage:
        postgres:
          enabled: true
          host: postgresql.default.svc.cluster.local
      notifier:
        smtp:
          enabled: true
          enabledSecret: true
          host: "smtp.sendgrid.net"
          port: 587
          username: "apikey"
          sender: "no-reply@${SECRET_DOMAIN}"
          identifier: ${SECRET_DOMAIN}
    secret:
      existingSecret: authelia
  postRenderers:
    - kustomize:
        patchesJson6902:
          - target:
              kind: Ingress
              name: authelia
            patch:
              - op: add
                path: /spec/ingressClassName
                value: nginx
