---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
  namespace: rook-ceph
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph
      version: v1.17.0
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    monitoring:
      enabled: true
    csi:
      csiAddons:
        enabled: false
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              cpu: 50m
        - name : csi-rbdplugin
          resource:
            requests:
              cpu: 250m
        - name : liveness-prometheus
          resource:
            requests:
              cpu: 50m
      csiCephFSPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              cpu: 50m
        - name : csi-cephfsplugin
          resource:
            requests:
              cpu: 250m
        - name : liveness-prometheus
          resource:
            requests:
              cpu: 50m
      pluginTolerations:
        - key: "k3s-arm"
          operator: "Exists"
