---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-ops-view
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 2.2.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        containers:
          main:
            image:
              repository: hjacobs/kube-ops-view
              tag: 23.5.0
            env:
              TZ: "${TIMEZONE}"
              REDIS_URL: redis://localhost:6379
          redis:
            image:
              repository: redis
              tag: 7.2
    service:
      main:
        ports:
          http:
            port: 8080
    serviceAccount:
      create: true
      name: "kube-ops-view"
    ingress:
      main:
        enabled: true
        className: "nginx"
        annotations:
          hajimari.io/enable: "true"
          hajimari.io/appName: "kube-ops-view"
          hajimari.io/icon: "server"
          nginx.ingress.kubernetes.io/whitelist-source-range: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
        hosts:
          - host: "kube-ops-view.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  name: main
                  port: http
        tls:
          - hosts:
              - "kube-ops-view.${SECRET_DOMAIN}"
