---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: truenas-backup
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    controllers:
      app:
        type: cronjob
        cronjob:
          schedule: "@daily"
          ttlSecondsAfterFinished: 86400
        containers:
          app:
            image:
              repository: quay.io/rhn_gps_vpogu/alpine
              tag: 3.14@sha256:7c0231727be1e17edd257a4710825a1a82a4f237568ecb17b77e18b11e059072
            command: ["/bin/bash", "/app/truenas-backup.sh"]
            envFrom:
              - secretRef:
                  name: truenas-secret
    service:
      app:
        controller: app
        enabled: false

    persistence:
      config:
        enabled: true
        type: configMap
        name: truenas-backup-configmap
        globalMounts:
          - path: /app/truenas-backup.sh
            subPath: truenas-backup.sh
            readOnly: true
