---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: reverse-proxy
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: reverse-proxy
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
      interval: 15m
  values:
    generateTLS:
      enabled: true
      secretName: "reverse-proxy-tls"

    instances:
      - name: nas
        enabled: true
        test: false
        ip: ${SECRET_NAS_ADDRESS}
        # -- Port used by host behind this reverse proxy
        port: 5000
        ingress:
          annotations:
            external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN}
            external-dns/is-public: "true"
            hajimari.io/appName: nas
            hajimari.io/enable: "true"
            hajimari.io/icon: "nas"
            kubernetes.io/ingress.class: "nginx"
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Ingress
            gethomepage.dev/icon: synology-dsm.png
          tls:
            - hosts:
                - nas.${SECRET_DOMAIN}
              secretName: nas-tls
          hosts:
            - host: nas.${SECRET_DOMAIN}
              path: /
