---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reverse-proxy
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: reverse-proxy
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
      interval: 30m
  maxHistory: 2
  install:
    remediation:
      retries: 5
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 5
  uninstall:
    keepHistory: false
  values:
    generateTLS:
      enabled: false
      secretName: "reverse-proxy-tls"

    instances:
      - name: nas
        enabled: true
        test: false
        ip: ${SECRET_NAS_ADDRESS}
        # -- Port used by host behind this reverse proxy
        port: 5000
        ingress:
          annotations:
            external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
            external-dns/is-public: "true"
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Ingress
            gethomepage.dev/name: "Synology NAS"
            gethomepage.dev/icon: synology-dsm.png
          ingressClassName: external
          tls:
            - hosts:
                - nas.${SECRET_DOMAIN}
          hosts:
            - host: nas.${SECRET_DOMAIN}
              path: /
      - name: truenas-main
        enabled: true
        ip: ${SECRET_TRUE_NAS_ADDRESS}
        # -- Port used by host behind this reverse proxy
        port: 80
        ingress:
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Ingress
            gethomepage.dev/name: "TrueNAS"
            gethomepage.dev/icon: truenas.png
          ingressClassName: internal
          tls:
            - hosts:
                - truenas.${SECRET_DOMAIN}
          hosts:
            - host: truenas.${SECRET_DOMAIN}
              path: /
      - name: filebrowser
        enabled: true
        ip: ${SECRET_TRUE_NAS_ADDRESS}
        port: 30044
        ingress:
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Ingress
            gethomepage.dev/name: "File Browser"
            gethomepage.dev/icon: si-files
          ingressClassName: internal
          tls:
            - hosts:
                - files.${SECRET_DOMAIN}
          hosts:
            - host: files.${SECRET_DOMAIN}
              path: /
      - name: pi-kvm
        enabled: true
        ip: ${SECRET_PI_KVM_ADDRESS}
        port: 80
        ingress:
          annotations:
            gethomepage.dev/enabled: "true"
            gethomepage.dev/group: Ingress
            gethomepage.dev/name: "Pi KVM"
            gethomepage.dev/icon: mdi:monitor-multiple
          ingressClassName: internal
          tls:
            - hosts:
                - pi-kvm.${SECRET_DOMAIN}
          hosts:
            - host: pi-kvm.${SECRET_DOMAIN}
              path: /
